
mod/thegreatwar/map/strategicregions/146-Himalayas.txt
mod/thegreatwar/map/strategicregions/186-Korea.txt
mod/thegreatwar/map/strategicregions/200-Quinghai.txt
*.txt
mod/thegreatwar/map/supplyareas/111-SupplyArea.txt
mod/thegreatwar/map/supplyareas/117-SupplyArea.txt
mod/thegreatwar/map/supplyareas/120-SupplyArea.txt
mod/thegreatwar/map/supplyareas/125-SupplyArea.txt
mod/thegreatwar/map/supplyareas/128-SupplyArea.txt
mod/thegreatwar/map/supplyareas/14-SupplyArea.txt
*.txt
mod/thegreatwar/map/supplyareas/217-SupplyArea.txt
mod/thegreatwar/map/supplyareas/227-SupplyArea.txt
mod/thegreatwar/map/supplyareas/260-SupplyArea.txt
